<nav class="global-nav">
  <div class="container">

    <% if user_signed_in? %>

      <div class="navigation">
        <ul class="left-actions">
          <li class="nav-item">
            <%= link_to "ホーム", root_path, class: "nav-link" %>
          </li>
        </ul>
        <ul class="right-actions">
          <li class="nav-item">
            <%= link_to "ツイート", "#", class: "btn btn-primary tweet-btn" %>
          </li>
        </ul>
      </div>

    <% else %>
      <div class="navigation">
        <ul class="left-actions">
          <li class="nav-item">
            <%= link_to "Techpit Tweet", "#", class: "nav-brand" %>
          </li>
        </ul>
      </div>
    <% end %>

  </div>